<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- viculacion de tipografia-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria de iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    
    <!-- asi se linkean los css-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css" >
    <link rel="stylesheet" href="/css/paleta.css">
    <link rel="stylesheet" href="/css/mediaQueries.css" >
    
    <title>Mercado Liebre</title>

</head>

<body>

    <header class="main-header"> <!--parte amarilla-->

        <div class="main-header-top-container"> <!--parte superior-->
            <div class="inner-top-container">

                <div class="logo-container">
                    <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo de MercadoLiebre">
                </div>

                <div class="search-bar-container">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos, marcas...">
                            <button><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>

            <div class="slogan-container">
                <h2 class="slogan-text">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

        </div>

        <div class="burger-container">

            <nav id="navbar" class="navigation" role="navigation">
                <input id="toggle1" type="checkbox" />
                <label class="hamburger1" for="toggle1">
                <div class="top"></div>
                <div class="meat"></div>
                <div class="bottom"></div>
                </label>
            
                <nav class="menu1">
                <a class="link1" href="">Ofertas</a>
                <a class="link1" href="">Tiendas Oficiales</a>
                <a class="link1" href="">Vender</a>
                <a class="link1" href="">Ayuda</a>
                </nav>
            </nav>
            
            </div>

        <div class="nav-bar-container">
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul> 

                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <h1>Creá tu cuenta</h1>
        <section class="register-container">
            
            
            <form action="/home" method="POST">

                <div class="form-rows">
                    <p class="field-container">
                        <input class="focus-input name-field" onkeydown="return /[a-z]/i.test(event.key)" placeholder="Nombre" type="text" minlength="3" required>
                    </p>

                    <p class="field-container name-field">
                        <input class="focus-input" onkeydown="return /[a-z]/i.test(event.key)" placeholder="Apellido" type="text" minlength="3" required>
                    </p>
                </div>

                <div class="form-rows">
                    <p class="field-container">
                        <input class="focus-input" placeholder="Nombre de usuario" type="text" minlength="3" required>
                    </p>

                    <p class="field-container">
                        <input class="focus-input" placeholder="E-mail" type="email" required>
                    </p>
                </div>

                <div class="form-rows">
                    <p class="field-container">
                        <input class="focus-input" placeholder="Contraseña" type="password" minlength="6" id="password" required>
                    </p>

                    <p class="field-container">
                        <input class="focus-input" placeholder="Repetir contraseña" type="password" minlength="6" id="confirm_password" required>
                    </p>
                </div>

                <div class="form-rows">
                        <h4>Fecha de nacimiento</h4>
                        <input type="date" min="1922-01-01" max="2003-12-31" required>               
                </div>

                <div class="form-rows">
                    <p class="field-container">
                        <input class="focus-input" placeholder="Domicilio" type="text" minlength="10" required>
                    </p>

                </div>

                <div class="form-rows-box">
                    <h4>Perfil del Usuario</h4>
                    <section class="field-container-radio">
                        <ul id="preferences">
                            <li><label><input name="prefer" value="1" type="radio">  Comprador</label></li>
                            <li><input name="prefer" value="2" type="radio">  Vendedor</li>
                            </ul>
                    </section>  
                </div>

                <div class="form-rows-box">
                    <h4>Intereses</h4>
                    <section class="field-container-checkbox">
                        <ul id="preferences">
                            <li><input type="checkbox" name="electro">  Electro</input></li>
                            <li><input type="checkbox" name="moda">  Moda</input></li>
                            <li><input type="checkbox" name="hogar">  Hogar</input></li>
                            <li><input type="checkbox" name="jugueteria">  Jugueteria</input></li>
                            <li><input type="checkbox" name="vidasana">  Vida sana</input></li>
                        </ul>
                    </section>  
                </div>

                <div class="form-rows">
                    <h4>Agregar foto de perfil</h4>
                    <p class="field-container">
                        <input type="file" id="upload-file">
                    </p>  
                </div>

                <div class="form-rows-btn">
                    <button type="submit" class="sendbtn">Enviar</button>
                    <button type="reset" class="deletebtn">Borrar</button>
                </div>
                
            </form>


        </section>

    </main>

    <footer>

        <div class="icon-footer-container">
            <a class="icon-footer"><i class="fas fa-credit-card"></i></a>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="icon-footer-container">
            <a class="icon-footer"><i class="fas fa-gift"></i></a>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="icon-footer-container">
            <a class="icon-footer"><i class="fas fa-user-shield"></i></a>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <div class="copyright">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>