/*-----------------navegacion mobile---------------------*/

@media (max-width: 768px){
    
    .product-description {
        display: none; /*Solo en el caso mobile la descripción del artículo no se visualizará*/
    }

    .main-navbar{
        display: none;
    }

    .search-bar {
        border: 2px solid var(--blanco);
        border-radius: 5px;
    }

    .description{
        display: none;
    }

}

/*----------------Navegacion en tablet-------------------------*/ 

@media (min-width: 769px){

    .logo{
        width: 230px;
    }

    .burger-container{
        display: none;
    }

    .main-header-top-container{
        display: flex;
        flex-direction:row;
    }

    .inner-top-container{
        width: 60%;
        /* border: 3px solid blue; */
        display: flex;
        justify-content: space-between;
        
    }
    
    .slogan-container{
        width: 40%;
        /* border: 3px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slogan-text{
        font-size: 1em;
    }
    
    .search-bar-container{
        /* border: 3px solid purple; */
        width: 50%;
        display: flex;
        justify-content: flex-end;
    
    }
    
    .logo-container{
        /* border: 3px solid purple; */
        justify-content: flex-start;
        width: 50%;
    }
    
    .search-bar {
        /* border: 3px solid pink;  */
        margin: 24px 0;
        width: 90%;
    }
    /* configurar barra de busqueda para viewport */
    .search-bar input{
        width: 80%;
        border-radius: 3px;
    }

    .search-bar button{ 
        position: relative;
        border: solid 1px var(--grisClaro);
        border-radius: 3px;
        color: var(--grisOscuro);
        margin-left: 5px;
    }
    /* ------------------------------------------------- */

    
    .burger-button{
        display: none;
    }

    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .main-navbar a{
        font-size: 1em;
        color: black;
    }

    .product-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 5%;

    }

    .product-section article {
        max-width: 45%;
    }

    

}

/*----------------------Navegacion en desktop--------------------------------*/

@media (min-width: 1200px){


    main{
        margin-left: 6%;
        margin-bottom: 5%;
    }

    main h3{
        margin: 2% 5%;
    }

    main article{
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
        transition: transform 450ms ease-in-out;
    }

    main article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


    .logo{
        width: 50%;
    }

    .burger-container{
        display: none;
    }

    .main-header-top-container{
        display: flex;
        flex-direction:row;
    }

    .inner-top-container{
        width: 60%;
        /* border: 3px solid blue; */
        display: flex;
        justify-content: space-between;
        
    }
    
    .slogan-container{
        width: 40%;
        /* border: 3px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slogan-text{
        font-size: 1.5em;
    }
    
    .search-bar-container{
        /* border: 3px solid purple; */
        width: 50%;
        display: flex;
        justify-content: flex-end;
    
    }
    
    .logo-container{
        /* border: 3px solid purple; */
        justify-content: flex-start;
        width: 50%;
    }
    
    .search-bar {
        /* border: 3px solid pink;  */
        margin: 24px 0;
        width: 80%;
    }
    
    .search-bar input{
        width: 80%;
    }


    .burger-button{
        display: none;
    }

    .logo{
        width: 250px;
    }

    .main-navbar{
        margin-top: 50px; /*para bajar la barra*/
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a{
        font-size: 1.25em;
    }

    .product-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 5% 0;

    }

    .product-section article {
        max-width: 22%;
        margin: 5px;
    }

    .discount{
        width: 30%;
    }


    .description{
        opacity: 0%;
        transition: all 650ms;
    }

    /* transiciones */


.description:hover {
    transform: translateY(-10px); 
    opacity: 100%;
    }

.article-description a i{
    transition: transform 450ms ease-in-out;
}

.article-description a i:hover{
    transform: rotate(-90deg);
    cursor: pointer;

}




    /* -------------------------------- */


    footer{
        /* border: 3px solid blue; */
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    .icon-footer{
        font-size: 1.5em;
        width: 33%;
    }

    

    footer i{
        margin-bottom: 5px;
    }

    footer div{
        padding: 0;
    }



    .icon-footer-container{
        max-width: 360px;
        margin: 0 7%;
    }

    .copyright{
        text-align: left;
        width: 100%;
        position:relative;
        margin: 5% 0 1% 1%;
    }


}
