main{
    margin: auto;
    width: 100%; 
}

.register-container{
    background-color: var(--grisClaro);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h1{
    text-align: center;
    background-color: var(--grisClaro);
    padding: 20px;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.form-rows{
    display: flex;
    flex-direction: column;
}

.field-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.field-container-radio, .field-container-checkbox{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.focus-input{
    margin-top: 3px;
    width: auto;
    height: 38px;
    padding: 8px;
    border: 1px solid var(--grisClaro);
    border-radius: 4px;
}

.focus-input:focus { 
    outline: none !important;
    border-color: var(--azulClaro);
    }

.focus-input:focus::placeholder {
    color: transparent;
    }

input[type="date"]{
    margin: 10px 0;
    color: var(--grisOscuro);
    background-color: var(--blanco);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline-color:var(--azulClaro);
    }

select{
    margin: 10px 0;
    color: var(--grisOscuro);
    background-color: var(--blanco);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline-color:var(--azulClaro);
}

ul{
list-style-type: none;
}

li{
    margin-bottom: 10px;  
}

h4{
    margin: 10px 0;  
}

.form-rows{
    border-bottom: 5px;
}

.form-rows-btn{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.sendbtn, .deletebtn{
    margin: 10px 0;
    color: var(--blanco);
    background-color: var(--azulClaro);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
}