* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box; /*esto afecta a todos los elementos*/
}

body h3{
    font-size: 24px; /*tamaño de titulares*/
    color: var(--grisOscuro);
}

/* fuentes */

html {
    font-family: 'Roboto', sans-serif;
}

/* requisitos de tamaño */


/* HEADER */

/* color del header */

.main-header{
    width: 100%;
    background-color: var(--amarillo);
    padding: 20px; /*esto es para darle espacio a los costados*/
}

.logo{
    width: 150px;
}

.burger-button {
    background-color: var(--azulClaro);
    color: var(--blanco); 
    display: block; /*lo vuelvo elemento de bloque*/
    max-width: 50px; /*maximo de ancho*/
    padding: 12px 0; /*relleno interno arriba y abajo 15, costados 0*/
    border-radius: 8px; /*bordes redondeados*/
    text-align: center; /*centra el icono de tres lineas*/
    font-size: 16px;
    margin: auto; /*para que quede al centro el block*/
}

.burger-button i{
    font-size: 24px;
}


.burger-container{
    /* border: 3px solid orange; */
    padding: 15px 0;
}

.main-header-top-container{
/* border: 3px solid orange; */
}


.slogan-container{
    /* border: 3px solid blue; */
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-text{
    font-weight: normal;
    font-size: 1.25em;
}

.inner-top-container{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction:row
    
}

.logo-container{
    /* border: 3px solid purple; */
    width: 50%;
}

.search-bar-container{
    /* border: 3px solid purple; */
    width: 50%;
    display: flex;

}

.search-bar {
border: 5px solid white;
    display: flex;
    flex-direction:row;
    border-radius: 5px;
}

.search-bar input{
    width: 100%;
    border: 1px;
}

.search-bar button{
    position: relative;
    border: 1px;
    color: var(--grisOscuro);
}


/* BODY */

main{ /*centrar la sección main y que ocupe un 90% del ancho de la pantalla. */
    position: center;
    width: 90%;
}

.product-section article{ /*Entre cada artículo hay una separación de 10 píxeles*/
    margin: 10px;
}

.article-description {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    border-top: 1px solid var(--grisClaro);
}

.price{
    width: 30%;
    font-size: 18px;
    width: 50%;
}

.discount{
    font-size: 16px;
    color: var(--verde);
    width:70%;
}

.description{
    font-weight: normal;
    font-size: 16px;
    color: var(--grisOscuro);
}

main a { /*modifica los iconos de envio (menos el color del camion)*/
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid var(--verde);
background-color: var(--blanco);
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;;
}

main a i{
color: var(--verde); /*cambiando el color de los camioncitos*/
font-size: 16px;
}

.banner img{
    width: 100%;
}

.product-section{
border: 3px solid fuchsia;
margin-left: 10%;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.product-section article{
    border: 3px solid orange;
}

.article-description{
    border: 3px solid green;
    display: flex;
    flex-direction: column;
}

.price-row{
    border: 3px solid greenyellow;
    display: flex;
    justify-content: space-arround;
}



/*.main-navbar{
    display: none; /*oculta la navbar en el menu burger
}*/

.main-navbar ul{ /*aplica a los elementos ul*/
    list-style: none; /*quita la bullet de la lista*/
    margin: 0;
    padding: 0; 
}

.main-navbar a { /*aplica a los elementos a*/
    text-decoration: none;
    color: var(--grisOscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;

}






/* FOOTER */

footer{
    border: 3px solid blue;
    text-align: center;
    margin: 10px 0;
}

.icon-footer {
    font-size: 2em;
    color: var(--azulClaro);
    cursor: pointer;
    transition: all 0.4s ease-in; /*transicion del icono*/
    margin-bottom: 10px;
}

.icon-footer i{
    font-size: 1em;
}


footer div { /*aplica a los div dentro del footer*/
    color: var(--grisOscuro);
    padding: 15px;
}

footer h3{
    font-size: 15px;
}

article img{
    width: 100%;
    object-fit: contain;
}



