* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box; /*esto afecta a todos los elementos*/
}

body h3{
    font-size: 24px; /*tamaño de titulares*/
}

/* fuentes */

html {
    font-family: 'Roboto', sans-serif;
}

/* requisitos de tamaño */

.price{
    font-size: 18px;
    width: 30%;
}

.discount, .description{
    font-size: 16px;
}


/* HEADER */

/* color del header */

.main-header{
    background-color: var(--amarillo);
    padding: 20px; /*esto es para darle espacio a los costados*/
}

.logo{
    width: 200px;
}

.burger-button {
    background-color: var(--azulOscuro);
    color: var(--blanco); 
    display: block; /*lo vuelvo elemento de bloque*/
    max-width: 50px; /*maximo de ancho*/
    padding: 15px 0; /*relleno interno arriba y abajo 15, costados 0*/
    border-radius: 8px; /*bordes redondeados*/
    text-align: center; /*centra*/
    font-size: 18px;
    margin: auto; /*para que quede al centro el block*/
}

/* BODY */

main{ /*centrar la sección main y que ocupe un 90% del ancho de la pantalla. */
    position: center;
    width: 90%;
}

.product-section article{ /*Entre cada artículo hay una separación de 10 píxeles*/
    margin: 10px;
}

.article-description {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    border-top: 1px solid var(--grisClaro);
}

.price{
    width: 30%;
}

.discount{
    width:70%;
}

main a {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;;
}

/*.main-navbar{
    display: none; /*oculta la navbar en el menu burger
}*/

.main-navbar ul{ /*aplica a los elementos ul*/
    list-style: none; /*quita la bullet de la lista*/
    margin: 0;
    padding: 0; 
}

.main-navbar a { /*aplica a los elementos a*/
    text-decoration: none;
    color: var(--grisOscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;

}





/* FOOTER */

footer{
    text-align: center;
    margin: 10px 0;
}

footer .icon-footer {
    font-size: 2em;
    color: var(--azulClaro);
    cursor: pointer;
    transition: all 0.4s ease-in; /*transicion del icono*/
    margin-bottom: 10px;
}


footer div { /*aplica a los div dentro del footer*/
    color: var(--grisOscuro);
    padding: 15px;
}

article img{
    width: 100%;
    object-fit: contain;
}



